<!DOCTYPE html>
<html>
	<head>
		<title>Mainpage</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" href="./css/layout.css">
	</head>
	<body>
		<div class="container mt-4">
			<div id="content">
				<h1>Image Search Abstraction Layer</h1>
				<div id="userStory">
					<h3>User stories:</h3>
					<ul>
						<li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string</li>
						<li>I can paginate through the responsees by adding a ?offset=2 parameter to the URL</li>
						<li>I can get a list of the mor receent submitted search strings</li>
					</ul>
				</div>
			</div>
			<hr>
			<form action="/api/search" method="get">
        <h3 class="text-center form-title">Image Search Form</h3>
				<div class="form-group">
					<label for="keyword">Searching Keyword:</label>
					<input type="text" name="keyword" class="form-control" placeholder="example: cat" required>
				</div>
				<div class="form-group">
					<label for="offset">Offset:</label>
					<input type="text" name="offset" class="form-control" placeholder="example: 1" required>
				</div>
        <div class="form-group">
          <label for="num">Number of Image Search:</label>
          <input type="text" name="num" class="form-control" placeholder="example: 10" required>
        </div>
				<input type="submit" class="btn btn-primary btn-block">
			</form>
			<hr>
			<div id="searchHistory" class="text-center">
        <form action="/api/history" method="get">
          <div class="form-group">
            <h3 class="form-title">Searching History</h3>
            <input type="submit" class="btn btn-success" id="historyBtn" value="History">
          </div>
        </form>
			</div>
		</div>
		<script src="./js/jquery.js"></script>
		<script src="./js/bootstrap.js"></script>
    <script>
    $(document).ready(function(){
      
      })
    });
    </script>
	</body>
</html>